Source: qrb-video-lib
Section: libs
Priority: optional
Maintainer: Jean Xiao <jianxiao@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.22),
               pkg-config,
               libgoogle-glog-dev,
               video-driver-dev,
               mm-osal-dev,
               common-headers-dev
Standards-Version: 4.6.0
Homepage: https://github.com/qualcomm-qrb-ros/qrb-ros-video
Vcs-Git: https://github.com/qualcomm-qrb-ros/qrb-ros-video.git
Vcs-Browser: https://github.com/qualcomm-qrb-ros/qrb-ros-video

Package: libqrb-video-codec-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QRB Video Codec Library
 A C++ library providing hardware-accelerated video codec functionality for
 Qualcomm Robotics platforms. Supports two interchangeable backends selected
 at build time: V4L2 (default) and VIDC.

Package: libqrb-video-codec-dev
Architecture: any
Section: libdevel
Depends: libqrb-video-codec-1 (= ${binary:Version}),
         ${misc:Depends},
         libgoogle-glog-dev
Description: QRB Video Codec Library - development files
 Development files for the QRB Video Codec Library, including headers
 and CMake configuration files needed to build applications that use
 the library. 